html, body, ul {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
.wrap {
    padding-top: 40px;
    padding-bottom: 60px;
}
body {
    background-color: #fff !important;
    overflow-x: hidden;
}
p {
    margin: 0 !important;
}